body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: auto;
}

/* Навигация */

.main-header {
    background-color: #eeeeee;
    padding-top: 49px;
}

.logo-and-navigation {
    min-height: 65px;
    display: flex;
}

.main-navigation {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 202px;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 438px;
}

.user-navigation {
    display: flex;
}

.site-navigation,
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
    margin-bottom: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.cart-link {
    position: relative;
    padding-left: 45px;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}

.nav-current-link{
    position: relative;
}

.nav-current-link::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    background-color: #fb565a;
}

.link-header-logo:hover,
.link-header-logo:focus {
    opacity: 0.8;
}

.link-header-logo:active {
    opacity: 0.3;
}

/* Слайдер */

.slider {
    position: relative;
    min-height: 431px;
}

.slide-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    border-top: 1px solid transparent;
    min-height: 430px;
    width: 1160px;
    background-color: #eeeeee;
}

.slide b {
    display: block;
    margin-top: 78px;
    max-width: 560px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.slide p {
    max-width: 460px;
    margin-top: 25px;
    margin-bottom: 170px;
}

.slide img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.slide a {
    position: absolute;
    bottom: 80px;
    width: 240px;
    background-color: #fb565a;
}

.slide a:hover,
.slide a:focus {
    background-color: #e74246;
}

.slide a:active {
    background-color: #d7373b;
}

.slide-current {
    z-index: 10;
}

.slider-buttons {
    position: absolute;
    bottom: 95px;
    left: 250px;
    right:250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 20;
}

.slider-button {
    width: 18px;
    height: 18px;
    margin: 0 9px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.slider-button.active {
    box-shadow:
        inset 0 0 0 5px #fff,
        inset 0 0 0 7px #c1c1c1;
}

/* Кнопки */

.button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #444444; /* цвет кнопки по умолчанию */
}

.round-button {
    padding: 0;
    border-radius: 50%;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-show,
.pagination-button {
    color: rgb(0, 0, 0);
    background-color: #eee;
}

.button-show:hover,
.button-show:focus,
.pagination-button:hover,
.pagination-button:focus {
    background-color: #dfdfdf;
}

.button-show:active,
.pagination-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    cursor: default;
    background-color: transparent;
    box-shadow: none;
    color: rgb(0, 0, 0);
}

.button-show {
    border: 0;
    width: 260px;
    margin-top: 35px;
}

/* Преимущества */

.advantages-list {
    display: flex;
    min-height: 410px;
    margin-top: 80px;
}

.advantages-item {
    width: 300px;
    margin-right: 100px;
}

.advantages-item:last-child {
    margin-right: 0;
}

.advantages-item h3 {
    margin: 0;
    margin-top: 19px;
}

.advantages-item p {
    width: 260px;
}

.advantages-item a {
    margin-top: 32px;
    width: 160px;
}

.advantages h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.advantages-web-sites a {
    background-color: #fb565a;
}

.advantages-web-sites a:hover,
.advantages-web-sites a:focus {
    background-color: #e74246;
}

.advantages-web-sites a:active {
    background-color: #d7373b;
}

.advantages-mobile-apps a {
    background-color: #00ca74;
}

.advantages-mobile-apps a:hover,
.advantages-mobile-apps a:focus {
    background-color: #00bc6c;
}

.advantages-mobile-apps a:active {
    background-color: #00aa62;
}

.advantages-presentations a {
    background-color: #efc84a;
}

.advantages-presentations a:hover,
.advantages-presentations a:focus {
    background-color: #eab534;
}

.advantages-presentations a:active {
    background-color: #e5a722;
}

.advantages ul {
    list-style: none;
    padding: 0;
}

/* Студия */

.studio-columns {
    display: flex;
    min-height: 482px;
    padding-top: 42px;
    border-top: 2px solid #eeeeee;
}

.studio-column-1 {
    width: 760px;
    padding-top: 32px;
}

.studio-column-1 p {
    margin-top: 33px;
    width: 660px;
}

.studio-column-1 h3 {
    margin-top: 40px;
}

.studio-service-list {
    padding-top: 7px;
    padding-left: 35px;
    list-style: none;
}

.service-item {
    position: relative;
    margin-bottom: 24px;
}

.service-item::before {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    left: -35px;
    top: 11px;
}

.studio-column-2 {
    margin-left: 40px;
    width: 360px;
}

.studio-column-2 h3 {
    padding-top: 12px;
    padding-left: 16px;
}

.studio-quality-indicators {
    margin-top: 32px;
    min-height: 130px;
    border-collapse: collapse;
}

.studio-quality-indicators td,
.studio-quality-indicators th {
    min-width: 120px;
    padding: 0;
    text-align: left;
}

.studio b {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.studio h3 {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.studio ul {
    list-style: none;
}

.studio-quality-indicators th {
    line-height: 18px;
}

.studio-quality-indicators td {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    color: #000000;
}

.studio-quality-indicators span {
    vertical-align: super;
    font-size: 0.5em;
}

/* Клиенты */

.client-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.client-item {
    width: 290px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #eee;
    height: 52px;
}

.client-item:last-child {
    border-right: none;
}

.client-item:nth-child(1) {
    width: 280px;
    position: relative;
}

.client-item:nth-child(1) img {
    position: absolute;
    top: -4px;
    left: 29px;
}

.client-item:nth-child(2) {
    width: 300px;
    position: relative;
}

.client-item:nth-child(2) img {
    position: absolute;
    top: -22px;
    left: 43px;
}

.client-item:nth-child(3) {
    width: 300px;
    position: relative;
}

.client-item:nth-child(3) img {
    position: absolute;
    top: 0;
    left: 55px;
}

.client-item:nth-child(4) {
    width: 280px;
    position: relative;
}

.client-item:nth-child(4) img {
    position: absolute;
    top: -13px;
    left: 61px;
}

.client-item img {
    opacity: 0.2;
}

.client-item:hover img,
.client-item:focus img {
    opacity: 1;
}

.client-item:active img {
    opacity: 0.1;
}

/* Подвал: карта, контакты */

.contacts-card {
    line-height: 18px;
}

.contacts-card h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
}

.footer-contacts iframe {
    background-color: #eee; /* серый фон, чтобы при масштабировании карты не проглядывала картинка */
    width: 100%;
    height: 100%;
    position: absolute;
}

.footer-contacts {
    margin-top: 82px;
    min-height: 416px;
    position: relative;
}

.contacts-card-container {
    position: absolute;
    width: 1200px;
    height: 416px;
    top: 0;
    left: 50%;
    margin-left: -600px;
}

.contacts-card {
    position: absolute;
    top: 53px;
    left: 20px;
    width: 320px;
    height: 308px;
    background-color: #fff;
}

.contacts-card h3 {
    margin-top: 50px;
    margin-left: 50px;
    text-transform: uppercase;
}

.contacts-card-address {
    margin-top: 23px;
    margin-left: 51px;
}

.contacts-card-phone {
    margin-top: 18px;
    margin-left: 51px;
}

.contacts-card-write-us {
    margin-top: 37px;
    margin-left: 50px;
    width: 218px;
    background-color: #fb565a;
}

.contacts-card-write-us:hover,
.contacts-card-write-us:focus {
    background-color: #e74246;
}

.contacts-card-write-us:active {
    background-color: #d7373b;
}

.footer-columns {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.footer-column-1 {
    width: 380px;
}

/* Подвал: соцсети */

.footer-column-2 {
    width: 760px;
    padding-left: 20px;
    padding-top: 6px;
}

.footer-social b {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.footer-social p {
    line-height: 22px;
    color: #444444;
    margin-top: 10px;
}

.social-button-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    justify-content: space-between;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    background-color: #e1e1e1;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

/* Модальное окно */

.modal-contact,
.contact-page {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -295px;
    box-sizing: border-box;
    width: 960px;
    height: 590px;
    padding-top: 67px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    z-index: 30;
}

.modal-contact {
    display: none;
}

.modal-close {
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    position: absolute;
    top: 77px;
    right: 85px;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
    outline: none;
}

.modal-close:active {
    opacity: 0.1;
}

.contact-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form input {
    display: block;
    width: 360px;
    height: 50px;
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
}

.contact-form {
    font: inherit;
}

.modal-contact h2,
.contact-page h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

.contact-form label {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.contact-form input,
.contact-form textarea {
    border: 2px solid #d7dcde;
    border-radius: 1px;
    background-color: transparent;
    color: rgba(68, 68, 68, 0.5);
}

.contact-form textarea {
    resize: none;
    width: 760px;
    height: 114px;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-top: 10px;
}

.contact-form input:hover,
.contact-form textarea:hover {
    border-color: #b4b9bb;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #000000;
    color: #444444;
}

.contact-form p {
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.button-send {
    background-color: #fb565a;
    width: 260px;
    border: none; 
    margin-top: 50px;
}

.button-send:hover,
.button-send:focus {
    background-color: #e74246;
}

.button-send:active {
    background-color: #d7373b;
}

.modal-show {
    display: block;
    animation: come-from-left 0.5s;
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes come-from-left {
    0% {
        -webkit-transform: translateX(2000px) rotate(45deg);
        -moz-transform: translateX(2000px) rotate(45deg);
        -ms-transform: translateX(2000px) rotate(45deg);
        transform: translateX(2000px) rotate(45deg);
    }

    90% {
        -webkit-transform: translateX(0)  rotate(15deg);
        -moz-transform: translateX(0)  rotate(15deg);
        -ms-transform: translateX(0)  rotate(15deg);
        transform: translateX(0)  rotate(15deg);
    }

    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: rotate(-0.7deg);
        -moz-transform: rotate(-0.7deg);
        -ms-transform: rotate(-0.7deg);
        transform: rotate(-0.7deg);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: rotate(0.7deg);
        -moz-transform: rotate(0.7deg);
        -ms-transform: rotate(0.7deg);
        transform: rotate(0.7deg);
    }
}

.contact-form .invalid {
    border-color: #e74246;
    color: #e74246;
}

/*** Каталог ***/

/* Фильтр */

.filters-form{
    font: inherit;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 47px;
}

.range-controls {
    position: relative;
    height: 2px;
    margin-bottom: 15px;
    padding: 39px 20px;
    background-color: #eee;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 163px;
}

.price-controls {
    font-size: 0;
    margin-top: 16px;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: baseline;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 8px;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background-color: #eee;
}

.max-price {
    text-align: right;
}

.filters-form legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filters-form label {
    line-height: 20px;
    position: relative;
    cursor: pointer;
}

.layout-filter {
    margin-top: 55px;
}

.layout-radio:hover,
.layout-radio:focus,
.feature-checkbox:hover,
.feature-checkbox:focus {
    color: #000;
}

.filters-form input:disabled ~ .label-content {
    color: rgba(40, 49, 54, 0.3);
}

.filter-price label,
.filter-price input[type="text"] {
    line-height: 22px;
    text-transform: uppercase;
}

.filters ul {
    list-style: none;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

.layout-radio,
.feature-checkbox {
    display: block;
    padding-left: 37px;
    margin-bottom: 20px;
}

.features-filter {
    margin-top: 27px;
}

.layout-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: -2px;
    left: 2px;
    width: 27px;
    height: 27px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.layout-radio input[type="radio"]:hover + .radio-indicator {
    opacity: 1;
}

.layout-radio input[type="radio"]:focus + .radio-indicator {
    opacity: 1;
}

.layout-radio input[type="radio"]:checked + .radio-indicator {
    background-image: url("../img/radio-on.svg");
}

.layout-radio input[type="radio"]:disabled + .radio-indicator {
    opacity: 0.1;
}

.feature-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: 2px;
    width: 27px;
    height: 27px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.feature-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
    opacity: 1;
}

.feature-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    opacity: 1;
}

.feature-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url("../img/checkbox-on.svg");
}

.feature-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
    opacity: 0.1;
}

/* Сортировка */

.sorting {
    display: flex;
    align-items: baseline;
}

.sorting h2 {
    padding: 0;
    margin: 0;
    margin-right: 20px;
    width: 360px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    color: #000000;
}

.sorting-options {
    width: 300px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.sorting-options li {
    padding: 0;
    margin: 0;
    margin-right: 25px;
}

.sorting-options a {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.3)
}

.sorting-options a:hover,
.sorting-options a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-options a:active,
.sorting-options a.selected {
    color: #000000;
}

.sorting-control-list {
    width: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.sorting-control {
    padding: 0;
    margin-left: 18px;
}

.sorting-control path {
    fill: #a6a6a6;
    opacity: 0.2;
}

.sorting-control:hover path {
    fill: #a6a6a6;
    opacity: 1;
}

.sorting-control:active path,
.sorting-control.active path{
    fill: #231f20;
    opacity: 1;
}

/* Основная часть каталога (галерея шаблонов) */

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item-info-price {
    display: none;
    position: absolute;
    width: 360px;
    min-height: 230px;
    left: 0;
    bottom: 0;
    background-color: #eeeeee;
}

.show-item-link {
    display: block;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.catalog-item-info-price p {
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    width: 239px;
    line-height: 18px;
    color: #666666;
    text-align: center;
}

.price-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #fb565a;
}

.price-button:hover,
.price-button:focus {
    background-color: #e74246;
}

.price-button:active {
    color: #fff;
    background-color: #d7373b;
}

.main-catalog h1 {
    background-color: #eee;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 108px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    text-align: center;
}

.catalog-content {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
}

.catalog-column-1 {
    width: 360px;
}

.catalog-column-2 {
    width: 760px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    padding-top: 52px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    width: 360px;
    height: 616px;
    margin-right: 40px;
    margin-bottom: 33px;
}

.catalog-item img {
    outline: 1px solid rgba(0, 1, 1, 0.1);
    outline-offset: -1px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item::before {
    content: "";
    display: block;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    opacity: 0.12;
}

.catalog-item:hover::before {
    opacity: 1;
}

.catalog-item:hover .catalog-item-info-price {
    display: block;
}

/* Пагинация */

.pagination {
    margin: 0;
    margin-top: 28px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 760px;
}

.pagination-item  {
    margin-right: 12px;
}

.pagination-next {
    min-width: 260px;
}

.pagination-item a {
    min-width: 49px;
}

.pagination-item-current a {
    min-width: 45px;
    border: 3px solid #eee;
    padding-top: 13px;
    padding-bottom: 13px;
}

.main-catalog .footer-contacts {
    margin-top: 60px;
}

.footer-contacts iframe {
    border: 0;
}