body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-catalog h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    text-align: center;
}

/* Навигация */

.main-header {
    background-color: #eeeeee;    
}

.main-navigation {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
    margin-bottom: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.cart-link {
    position: relative;
    padding-left: 45px;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}

.nav-current-link{
    position: relative;
}

.nav-current-link::after {
    position: absolute;
    position: 0 0;
    width: 100%;
    content: "";
    display: block;
    height: 2px;
    background-color: #fb565a;
}

/* Слайдер */

.slider {
    background-color: #eeeeee;
}

.slider b {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.slider a {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
}

.slider a:hover,
.slider a:focus {
    background-color: #e74246;
}

.slider a:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

/* Преимущества */

.advantages h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.advantages a {
    text-transform: uppercase;
    line-height: 18px;
    color: #ffffff;
    background-color: grey;
}

.advantages a:active {
    color: rgba(255, 255, 255, 0.3);
}

.advantages-web-sites a {
    background-color: #fb565a;
}

.advantages-web-sites a:hover,
.advantages-web-sites a:focus {
    background-color: #e74246;
}

.advantages-web-sites a:active {
    background-color: #d7373b;
}

.advantages-mobile-apps a {
    background-color: #00ca74;
}

.advantages-mobile-apps a:hover,
.advantages-mobile-apps a:focus {
    background-color: #00bc6c;
}

.advantages-mobile-apps a:active {
    background-color: #00aa62;
}

.advantages-presentations a {
    background-color: #efc84a;
}

.advantages-presentations a:hover,
.advantages-presentations a:focus {
    background-color: #eab534;
}

.advantages-presentations a:active {
    background-color: #e5a722;
}

.advantages ul {
    list-style: none;
    padding: 0;
}

/* Студия */

.studio b {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.studio h3 {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.studio ul {
    list-style: none; /* TODO: сделать маркеры списка в виде тире цвета #fb565a */
}

.studio-quality-indicators th {
    line-height: 18px;
}

.studio-quality-indicators td {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    color: #000000;
}

.studio-quality-indicators span {
    vertical-align: super;
    font-size: 0.5em;
}

/* Клиенты */

.client-list {
    list-style: none;
}

/* Подвал: карта, контакты */

.contacts-card {
    line-height: 18px;
}

.contacts-card h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
}

.contacts-card a {
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #fb565a;
}

.footer-contacts iframe {
    background-color: #eee; /* серый фон, чтобы при масштабировании карты не проглядывала картинка */
}

/* Подвал: соцсети */

.footer-social b {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.footer-social p {
    line-height: 22px;
    color: #444444;
}

.social-button-list {
    list-style: none;
    padding: 0;
}

/* Модальное окно */

.contact-form {
    font: inherit;
}

.modal-contact h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.modal-contact label {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.modal-contact input,
.modal-contact textarea {
    border: 2px solid #d7dcde;
    border-radius: 1px;
    background-color: transparent;
    color: rgba(68, 68, 68, 0.5);
}

.modal-contact input:hover,
.modal-contact textarea:hover {
    border-color: #b4b9bb;
}

.modal-contact input:focus,
.modal-contact textarea:focus {
    border-color: #000000;
    color: #444444;
}

.modal-contact button {
    font: inherit;

    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;

    background-color: #fb565a;

    border: none;
}

.modal-contact button:hover,
.modal-contact button:focus {
    background-color: #e74246;
}

.modal-contact button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

/* ---- Стили для страницы каталога ---- */

.filters-form {
    font: inherit;
}

.filters-item {
    margin: 0;
    padding: 0;
    border: none;
}

.filters-form legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filters-form label {
    line-height: 20px;
}

.filters-form input:hover + label,
.filters-form input:focus + label {
    color: #000000;
}

.filters-form input:disabled + label {
    color: rgba(40, 49, 54, 0.3);
}

.filter-price label,
.filter-price input[type="text"] {
    line-height: 22px;
    text-transform: uppercase;
}

.filters ul,
.sorting-options,
.sorting-controls {
    list-style: none;
}

.sorting h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    color: #000000;
}

.sorting a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3)
}

.sorting a:hover,
.sorting a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting a.active,
.sorting a.selected {
    color: #000000;
}

.button,
.pagination-item a {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
}

.button:hover,
.button:focus,
.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.button:active,
.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

.pagination-item-current a {
    background-color: transparent;
}

.catalog-list {
    list-style: none;
}

.catalog-item-info-price {
    background-color: #eeeeee;
}

.catalog-item-info-price h3 {
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.catalog-item-info-price p {
    line-height: 18px;
    color: #666666;
    text-align: center;
}

.price-button {
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    text-align: center;
}

.price-button:hover,
.price-button:focus {
    background-color: #e74246;
}

.price-button:active {
    color: #ffffff;
    background-color: #d7373b;
}

/* ----- Сеточные стили ----- */

.container {
    width: 1160px;
    padding: 0 20px;
    margin: auto;
}

.logo-and-navigation {
    min-height: 65px;
    display: flex;
}

.main-header {
    padding-top: 49px;
}

.main-navigation {
    margin-left: 202px;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 438px;
}

.user-navigation {
    display: flex;
}

.slider {
    min-height: 431px;
}

.slide-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.slide {
    border-top: 1px solid transparent;
    min-height: 430px;
    width: 1160px; 
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    position: absolute;
}

.slide b {
    display: block;
    margin-top: 78px;
    max-width: 560px;
}

.slide p {
    max-width: 460px;
    margin-top: 26px;
}

.slide a {
    display: block;
    margin-top: 38px;
    width: 240px;
    border-radius: 3px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.slide {
    z-index: -1;
}

.slide-current {
    z-index: 0;
}

/* TODO: временно скрыл кнопки слайдера */
.slider-buttons {
    display: none;
}

.advantages-list {
    display: flex;
    min-height: 410px;
    margin-top: 80px;
}

.advantages-item {
    width: 300px;
    margin-right: 100px;
}

.advantages-item h3 {
    margin: 0;
    margin-top: 17px;
}

.advantages-item p {
    width: 260px;
}

.advantages-item a {
    display: block;
    margin-top: 32px;
    width: 160px;
    border-radius: 3px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.studio-columns {
    display: flex;
    min-height: 482px;
    padding-top: 42px;
    border-top: 2px solid #eeeeee;
}

.studio-column-1 {
    width: 760px;
    padding-top: 32px;
}

.studio-column-1 p {
    margin-top: 33px;
    width: 660px;
}

.studio-column-1 h3 {
    margin-top: 40px;
}

.studio-service-list {
    padding-top: 7px;
    padding-left: 35px;
}

.studio-column-2 {
    margin-left: 40px;
    width: 360px;
}

.studio-column-2 h3 {
    padding-top: 12px;
    padding-left: 16px;
}

.studio-quality-indicators {
    margin-top: 32px;
    min-height: 130px;
    border-collapse: collapse;
}

.studio-quality-indicators td, th {
    min-width: 120px;
    padding: 0;
    text-align: left;
}

.client-list {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin: 0;
    padding: 0;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-contacts {
    margin-top: 85px;
    position: relative;
}

.footer-contacts img {
    width: 100%;
    height: auto;
}

.footer-contacts iframe{
    position: absolute;
}

.contacts-card {
    position: absolute;
    top: 56px;
    left: 140px;
    width: 320px;
    height: 308px;
    background-color: #fff;
}

.contacts-card h3 {
    margin-top: 55px;
    margin-left: 50px;
    text-transform: uppercase;
}

.contacts-card-address {
    margin-top: 23px;
    margin-left: 50px;
}

.contacts-card-phone {
    margin-top: 18px;
    margin-left: 50px;
}

.contacts-card-write-us {
    display: block;
    margin-top: 37px;
    margin-left: 50px;
    width: 218px;
    border-radius: 3px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer-columns {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.footer-column-1 {
    width: 380px;
}

.footer-column-2 {
    width: 760px;
    padding-left: 20px;
}

.social-button-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    justify-content: space-between;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.modal-contact {
    width: 960px;
    height: 592px;
}

.modal-contact textarea {
    resize: none;
}

/* Каталог */

.main-catalog h1 {
    background-color: #eee;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 110px;
}

.catalog-content {
    display: flex;
    justify-content: space-between;
}

.catalog-column-1 {
    width: 360px;
}

.catalog-column-2 {
    width: 760px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    margin-right: 40px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.sorting {
    display: flex;
    min-height: 140px;
    margin-top: 44px;
    align-items: baseline;
}

.catalog-item-info-price {
    /* TODO: временно скрыл карточку шаблона, чтобы не мешал сетке */
    display: none;
}

.sorting h2 {
    margin: 0;
    margin-right: 20px;
}

.sorting-options {
    width: 300px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    display: flex;
}

.sorting-options li {
    margin-right: 26px;
}

.sorting-controls {
    width: 60px;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination {
    margin: 0;
    margin-top: 55px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 760px;
}

.pagination-item  {
    margin-right: 12px;
}

.pagination-next {
    min-width: 260px;
}

.pagination-item a {
    min-width: 49px;
    border-radius: 3px;
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.pagination-item-current a {
    min-width: 45px;
    border: 3px solid #eee;
    padding-top: 13px;
    padding-bottom: 13px;
}

/* Фильтр */

.filters-form{
    margin-top: 40px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;
    height: 2px;
    margin-bottom: 15px;
    padding: 39px 20px;
    background-color: #eee;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 163px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background-color: #eee;
}

.max-price {
    text-align: right;
}